<!--
<p>true-false-questions works!</p>
<h3>{{question.title}}</h3>
<h4>{{question.question}}</h4>
<label>
  <input type="radio" value= 'true'
         [ngModel]="answer"
         name="{{question._id}}"/>
  True
</label>
<br>
<label>
  <input type="radio" value='false' name="{{question._id}}"/>
  False
</label>

Your answer {{answer}}
<br>
Correct answer {{question.correct}}
<br>
<span [hidden]="answer && answer !== question.correct">Yeah!</span>
<span [hidden]="answer && answer === question.correct">Ops!</span>








-->
